.circular-loader {
  display: block;
  animation: circular-loader-rotation 2s linear infinite;
}

.circular-loader circle {
  animation: circular-loader-dash-movement 1.5s ease-in-out infinite;
  stroke-linecap: round;
  fill: none;
  stroke: #5c557638;
  stroke-width: 4;
}

@keyframes circular-loader-rotation {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circular-loader-dash-movement {

  0% {
    stroke-dasharray: 1,200; /* dash length + white space */
    stroke-dashoffset: 0; /* dash start */
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124;
  }
}